doctype
html
    head
        title
            | FYT - 
            block app-title
        link(rel="stylesheet", href="/styles/libs/bootstrap.min.css")
        link(rel="stylesheet", href="/styles/libs/bootstrap-flatlytheme-customized.css")
        link(rel="stylesheet", href="/styles/libs/bootstrap-datetimepicker.min.css")
        link(rel="stylesheet", href="/styles/common.css")
        link(rel="stylesheet", href="/styles/libs/toastr-customized.min.css")

        script(src="/scripts/libs/moment.min.js")
        script(src="/scripts/libs/jquery.min.js")
        script(src="/scripts/libs/bootstrap.min.js")
        script(src="/scripts/libs/bootstrap-datetimepicker.min.js")
        script(src="/scripts/libs/jquery.matchHeight-min.js")
        script(src="/scripts/libs/toastr.min.js")

    body
        block navigation
            include ./common/navigation
        main.container
            block content
        block footer
            include ./common/footer
