footer
  .container
    .row.footer-upper-boundary
        .col-lg-2.col-lg-offset-1.text-center
            a(href="/home") Home
        .col-lg-2.text-center
            a(href="/rides") Rides
        .col-lg-2.text-center
            a(href="/users") Users
        .col-lg-2.text-center
            a(href="/contact") Contact us
        .col-lg-2.text-center
            a(href="/login") Login
    hr
    .row.footer-lower-boundary
        .col-xs-12.text-center
            a(href="https://github.com/Team-Enigma") Telerik Academy 2016 Team Enigma
        .col-xs-12.text-center
            a(href="http://www.freepik.com") Graphic Resources by freepik