extends ../base

block app-title
        | Home

block content
    .row.home-section
        .col-xs-12.col-md-6.matchheight.left-section
            .col-inner
                .section-heading
                    h1.home-title FYT
                    p
                        | Have you ever struggled with finding a convenient transport? If yes, then FYT is the place for you. With just a few clicks you can easily find a transport for your destination.
                .section-content
                    a.btn.btn-success(href="/login") START NOW
        .col-xs-12.col-md-6.matchheight.right-section
            .col-inner.clearfix
                .col-xs-8.col-xs-offset-2
                    img.img-responsive.img-home(src="/images/fyt-home-picture.png")

    script(type="text/javascript").
        jQuery(function($){
        $(".matchheight").matchHeight({byRow: false});
        });
